CREATE TABLE [TITULOCOMPROBANTE](
	[NO_CIA]	[NVARCHAR](2) NOT NULL,
	[TIPO_DOC]	[NVARCHAR](2) NOT NULL,
	[TITULO]	[NVARCHAR](50) NOT NULL,
 CONSTRAINT [PK_TITULOCOMPROBANTE] PRIMARY KEY([NO_CIA], [TIPO_DOC], [TITULO])
)